/* Core styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Mooli', sans-serif;
    margin: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.to-uppercase {
    text-transform: uppercase;
}
.clearfix {
    clear: both;
}

/* Main-header styles */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(66, 6, 6);
    width: 100%;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}
.shoh__brand img {
    width: 64px;
    padding-left: 10px;
}    
.shoh__brand {
    display: inline-block;
    vertical-align: middle;
}
.main-navigation {
    display: inline-block;
    vertical-align: middle;
}
.main-navigation__item {
    display: inline-block;
    padding: 15px;
    padding-right: 15px;
}
.main-navigation__item a {
    color:rgb(29, 5, 53);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 350;
    font-size: 15px;
}
.main-navigation__item a:hover {
    color: rgb(241, 67, 36);
    transition: 0.8s;
}
.main-navigation__item.active a {
    color: darkkhaki;
}

/* Main section */

/* .main-banner {
    background: url('#') no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
} */

/* @keyframes anim {
    0% {
        display: none;
        left: -100px;
        transform: perspective(500px) translate3d(-100px, -100px, -100px);
    }
    100% {
        display: block;
        left: 0 ;
        transform: perspective(400px) translate3d(100, 0, 0);
    }
} */

.main-section {
    padding: 7.5rem 1.87rem;
    display: flex;
    justify-content: space-between;
}

.main-section__info > div {
    flex: 1;
}

.main-section__image {
    text-align: right;
    /* position: relative;
    left: 3rem;
    top: 1.9rem; */

}

.main-section__welcome {
    font-size: 1rem;
    font-weight: 400px;
    margin-bottom: 1.25rem;
    letter-spacing: 2px;
    color: #797979;
}

.main-section__introduction {
    margin-top: 1.25rem;
    font-size: 3.75rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    color: #05364E
}

.main-section__position {
    width: 90%;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    color:#797979;
}

.main-section__social-networks a {
    color: #968faa;
    font-size: 1.25rem;
    cursor: pointer;
    display: inline-block;
    margin-right: 1rem;
}

.main-section__social-networks a:hover i {
    color: blue;
}

.main-section__action {
    margin-top: 1.87rem;
}
.main-section__action:hover {
    color: rgb(15, 15, 15);
}

/* Statistics */

.statistics {
    padding-top: 6.25rem;
    display: flex;
    
}

.statistics__item {
    background-color: #F8FAFF;
    text-align: center;
    padding: 0.32rem 0.625rem;
    margin-right: 1.25rem;
    width: 150px;
}

.statistics__number {
    font-size: 1.69rem;
    margin-bottom: 0.32rem;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.statistics__title {
    font-size: 1rem;
    font-weight: 300;
    color: #797979;
}

/* About me section */
.about-me {
    padding: 6.25rem 0;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    /* animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: 1; */
}
.about-me > div {
   flex: 1;
}

.about-me__image img {
    position: relative;
    right: 3.125rem;
    width: 90%;

    
}
.section-subtitle {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #797979;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.section-title {
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(15, 15, 15);
}
.about-me__description {
    font-size: 1.25rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.69rem;
}
.button {
    border: none;
    background-image: linear-gradient(to right,#1345e6 0%, #ed239f 51%, #1345e6 100%);
    color: #FFFFFF;
    background-size: 200% auto;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover {
    background-position: right center;
}

.button:hover {
    color: black;
}
.about-me__action {
    margin-top: 2.5rem;
}

.blur-line {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background-color: rgba(237,35,159,0.6);
    filter: blur(4px);
    border-radius: 4px;
}

/* Services styles */
.services {
    padding-top: 6.25rem;
}

.services__cards {
    display: flex;
    justify-content: space-between;
}

.service-card {
    padding: 3.75rem 1.87rem;
    background-color: #F8FAFF;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
    transition: background-color 1.5s;
}

.service-card__title {
    color: #05364D;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}
.service-card__description {
    font-size: 1rem;
    line-height: 1.68rem;
    font-weight: 300;
    color: #797979;
}
.service-card__link {
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase ;
    color: #05364D;
    text-decoration: none;
}
.service-card:hover {
    background-color: #5f30ff;
}

.service-card__link:hover {
    color: #FFD805;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__description {
    color: #ffff;
}

/* Clients */

.clients {
    padding: 6.25rem 0px;
}
.client-item__info {
    padding-left: 3.12rem;
}

.client-item {
    display: flex;
    align-items: center;
}

.client-item > div {
    flex: 1;
}
.client-item__image {
    width: 100%;
    padding-left: -1.5rem;
    padding-top: 1.9rem;
}
.client-item__name {
    font-size: 2.25rem;
    margin-bottom: 0.25rem;
}
.client-item__position {
    font-size: 1.25rem;
    font-weight: 300;
    color: #5b6d75;
}
.client-item__review {
    font-size: 1rem;
    line-height: 1.68rem;
    font-weight: 300;
    color: #5b6d75;
}
.client-item__rate {
    color: #FFD805;
}

/* Portfolio section */
.portfolio {
    padding: 6.25rem 0;
}

.portfolio-filters {
    list-style: none;
    padding-left: 0;
    margin-top: 3.12rem;
}

.portfolio-filters li {
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 0.81rem;
    font-weight: 400;
    text-transform: uppercase;
}

.portfolio-filters li:hover {
    color: #5f30ff;
    cursor: pointer;
}

.portfolio-filters li.active {
    color: #5f30ff;
}

.portfolio-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 0.625rem;
    box-sizing: border-box;
}

.portfolio-item-1 {
    padding-left: 0;
}

.portfolio-item-2 {
    position: absolute;
    right: 0;
    top: 0;
}
.portfolio-item-3 {
    position: absolute;
    right: 0;
    top: 322px;
}

.portfolio-items {
    position: relative;
    margin-top: 3.125rem;
}

.portfolio-item_image {
    width: 100%;
}

.portfolio-item_overplay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.portfolio-item_info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
    z-index: 2;
}

.portfolio-item_info {
    color: white;
    text-decoration: none;
}

/* .portfolio-item:hover .portfolio-item_overplay {
    visibility: visible;
    top: 20px;
    left: 20px;
    transition: 0.8s;
} */

.portfolio-item:hover .portfolio-item_info {
    visibility: visible;
    bottom: 24px;
    left: 60px;
    transition: 0.8s;
}

.portfolio-item:hover .portfolio-item_image {
    transform: perspective(500px) translate3d(8px, 8px, 20px);
    transition: 0.8s;
}

/* Blog section */
.blog {
    padding-top: 6.25rem;
}
.blog-items {
    margin-top: 3.125rem;
    display: flex;
    justify-content: space-between;
}

.blog-item:hover {
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}
.blog-item:hover .blog-item__info {
    background-color: white;
}

.blog-item__image {
    overflow: hidden;
    vertical-align: middle;
}

.blog-item {
    overflow: hidden;
    margin-right: 3%;
    box-sizing: border-box;
}

.blog-item:hover .blog-item__image img {
    transform: scale(1.1);
    transition: 0.8s;
}

.blog-item__image img {
    width: 100%;
}

.blog-item__info {
    background-color: #F8FAFF;
    padding: 1.87rem;
    color: #797979;
}

.blog-item__main-info span {
    font-size: 0.87rem;
    margin-right: 1.87rem;
    font-weight: bold;
}
.blog-item__info i {
    margin-right: 0.31rem;
}
.blog-item__title {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.94rem;
    color: #05364D;
    font-weight: 700;
}
.blog-item__description {
    line-height:1.68rem;
    font-weight: bold;
    font-size: 0.94rem;
}

.blog-item__learn-more {
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364D;
    cursor: pointer;
}
.blog-item__learn-more:hover {
    color: #ed239f
}

/* Partners style */

.partners {
    padding-top: 6.25rem;
    display: flex;
    justify-content: space-between;
}
.partner {
    padding: 0 1.87rem;
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 991px) {
    /* Main section */
    .main-section__image {
        display: none;
    }
    .main-section > div {
        width: 100%;
    }

    .statistics {
        padding-top: 3rem;
        text-align: center;
        justify-content: center;
    }

    /* Aboutme */
    .about-me {
        padding: 1.5rem 0;
    }
    .about-me > div {
        width: 100%;
    }
    .about-me__image {
        display: none;
    }

    /* services */
    .services {
        padding: 1.5rem 0;
    }

    .services__cards {
        flex-wrap: wrap;
    }

    .service-card {
        flex-basis: 45%;
        margin-bottom: 20px;
    }

    /* clients */
    .clients {
        padding: 1.5rem 0;
    }
    .client-item > div {
        width: 50%;
        float: left;
    }
    .client-item__info {
        padding: 2.5rem 0;
    }

    .portfolio {
        padding: 1.5rem 0;
        margin-bottom: 7rem;
    }

     /* Blog */
    .blog {
        padding: 1.5rem 0;
    }

    .blog-items {
        flex-wrap: wrap;
    }    

    .blog-item {
        font-size: 30px;
        font-weight: 550;
        flex-basis: 45%;
        margin-right: 0;
        margin-bottom: 20px;
    }
     /* Partners */
    .partners {
        display: flex;
        padding-top: 1.5rem;
        padding-left: 6.25rem;
        flex-wrap: wrap;
        align-content: center;
    }
    .partner {
        flex-basis: 50%;
        padding: 1rem 0;
    }
    .new {
       display: none;
    }
}

@media only screen and (max-width: 767px) {
    /* Main section */
    .main-section__image {
        display: none;
    }
    
    .main-section__action {
        display: none;
    }

    .main-section > div {
        width: 100%;
    }
    .main-section__introduction {
        font-size: 3rem;
    }

    /* Statistics section */
    .statistics {
        flex-direction: column;
        padding: 1.5rem 0
    }
    .statistics__item {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Services section */
    .services {
        padding: 1.5rem 0;
    }
    .service-card {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    /* Clients */
    .client-item__image {
        display: none;
    }
    .client-item > div {
        width: 100%;
        float: none;
    }
    .client-item__info {
        padding-top: 0;
    }


    /* Portfolio */
    .portfolio-item {
        width: 100%;
    }
    .portfolio-item-2,
    .portfolio-item-3 {
        position: static;
    }

    .blog-item {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .partners {
        display: flex;
        padding: 1.5rem 0;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .partner {
        flex-basis: 45%;
        padding: 1rem 0;
    }

}

@media only screen and (max-width: 483px) {
    .partners {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}