/* Core styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Mooli', sans-serif;
    margin: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.to-uppercase {
    text-transform: uppercase;
}
.clearfix {
    clear: both;
}
.section-subtitle {
    /* font-size: 20px; */
    letter-spacing: 2px;
    font-weight: 500;
    color: #797979;
    margin-bottom: 1.75rem;
    text-transform: uppercase;
}
.section-title {
    margin-top: 1.75rem ;
    font-size: 2.62rem;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(15, 15, 15);}

/* Main-header styles */
.main-header {
    position: fixed;
    top: 0px;
    left: 0;
    background-color:black;
    width: 100%;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}
.shoh__brand img {
    width: 64px;
    padding-left: 0.625rem;
}    

.main-header .container {
    display: flex;
    align-items: center;
}

.main-navigation__item {
    display: inline-block;
    padding: 0.625rem;
    /* padding-right: 15px; */
}
.main-navigation__item a {
    color:rgb(236, 225, 247);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
}
.main-navigation__item a:hover {
    color: rgb(241, 67, 36);
    transition: 0.8s;
}
.main-navigation__item.active a {
    color: darkkhaki;
}


.button {
    border: none;
    background-image: linear-gradient(to right,#1345e6 0%, #ed239f 51%, #1345e6 100%);
    color: #FFFFFF;
    background-size: 200% auto;
    font-weight: 600;
    font-size: 0.87rem;
    padding: 1.26rem 2.5rem;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover {
    background-position: right center;
}

.button:hover {
    color: rgb(247, 192, 14);
    transition: 0.8s;
}

.blur-line {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 0.32rem;
    width: 80px;
    height: 4px;
    background-color: rgba(237,35,159,0.6);
    filter: blur(4px);
    border-radius: 4px;
}

/* Footer styles */
.footer {
    padding: 50px 0;
    margin-top: 50px;
    background-color: black;
    text-align: center;
}

.footer__brand img {
    width: 15%;
}

.footer__navigation-item {
    margin-bottom: 50px;
}

.footer__navigation-item {
    display: inline-block;
    padding: 10px 10px;
}

.footer__navigation-item a {
    color: white;
    text-decoration: none;
}

.footer__socials {
    padding: 0;
}

.footer__social {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 36px;
    color: #05364d;
    font-size: 1rem;
    margin-right: 12px;
}

.footer__social a {
    color: #021017;
}

.footer__social:hover {
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100% );
}

.footer__social:hover i{
    color: white;
}

.footer__text {
    color: #797979;
}

@media only screen and (max-width: 991px) {
    .container {
        width: 95%;
    }
    /* Navigation */
    .main-navigation {
        display: none;
    }
    .footer__navigation {
        display: none;    
    }

}

@media only screen and (max-width: 767px) {
    .container {
        width: 92%;
    }
}